button {
  background-color: transparent;
  color: #ea7c69;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  border: 1px solid rgba(220, 220, 220, 0.5); /* Update the border color */
  outline: none;
}

button:hover,
button:focus {
  background-color: #ea7c69;
  color: #fff;
  border-color: #ea7c69;
}

button.active {
  background-color: #ea7c69;
  color: #fff;
  border-color: #ea7c69;
}
